#intro{
    height :calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin :0 auto;
    overflow: hidden;
    position :relative;

}

/* .myimg {
    position:  absolute;
    top : 0;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height :100%;

} */

.introContent {
    height: 100%;
    width: 100%;
    max-width: 75rem;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.hello{
    font-size: 1.75rem;
    font-weight: 100;
}

.introName{
    color :yellow

}
.introPara {
    font-size: 1rem; /* Smaller size */
    font-weight: 300; /* Light font */
    line-height: 1.5; /* Better readability */
    max-width: 40rem; /* Prevents it from stretching full width */
}


.btn{
    background: white;
    margin : 1rem 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
}
.btnImg {
    object-fit: cover;
    margin:0 0.25rem;
    height: 1rem;

}

@media screen and (max-width:840px){
    .bg {
        right: -10vh;
    }
    .introContent{
        font-size: 10vw ;
    }
    .hello{
        font-size: 4.5vw;

    }
}