#intro{
    height : 42rem;
    width: 100vw;
    max-width: 75rem;
    margin :0 auto;
    overflow: visible;
    position :relative;

}
.introContent {
    height: 100%;
    width: 100%;
    max-width: 75rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.hello{
    font-size: 1.75rem;
    font-weight: 100;
}
.introName{
    color :yellow

}
.introPara {
    font-size: 1rem; /* Smaller size */
    font-weight: 300; /* Light font */
    line-height: 1.5; /* Better readability */
    max-width: 40rem; /* Prevents it from stretching full width */
}
.btn{
    background: white;
    margin : 1rem 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
}
.btnImg {
    object-fit: cover;
    margin:0 0.25rem;
    height: 1rem;

}

.introWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 2rem;
}
.introImgContainer {
  flex-shrink: 0;
  width: 260px;
  height: 260px;
  margin-left: 2rem;
}
.introImg {
    width: 250px;
    height: 250px;
    border-radius: 50%; /* Circle shape */
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}


.links-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 1rem 0;
  gap: 1rem;
}

.link-card {
  flex: 0 0 auto;
  display: flex;
  color: inherit; /* Makes the link color same as surrounding text */
  background-color:purple;
  padding: 0.7rem 1.2rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.link-card:hover {
  transform: scale(1.1);
}
.link-icon {
  height: 24px;
  width: 24px;
  margin-right: 0.5rem;

}
.link-name{
    font-weight: 600;
    font-size: 1rem;
  
}
 /* Responsive adjustment */
@media screen and (max-width: 840px) {
    .introWrapper {
        flex-direction: column;
        text-align: center;
    }

    .introImg {
        margin-top: 2rem;
        width: 180px;
        height: 180px;
    }
}